/* ===== RESET STYLES ===== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
  letter-spacing: inherit;
  color: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
address {
  font-style: normal;
}

/* ===== COMMON STILES ===== */
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}
section {
  padding: 120px 0;
}
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
button {
  color: currentColor;
  border: none;
  cursor: pointer;
}
textarea {
  resize: none;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.section-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.card-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.card-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}
.social-link {
  fill: #f4f4fd;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===== HEADER STYLES ===== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-nav .logo {
  margin-right: 76px;
}
.page-header .logo-part {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.current-link {
  position: relative;
  color: #404bbf;
}
.current-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
}
/* hover/focus */
.nav-link,
.contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ===== HERO STYLES ===== */
.hero-section {
  margin: 0 auto;
  padding: 188px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  text-transform: none;
}
.btn-hero-order {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
}
/* hover/focus */
.btn-hero-order {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero-order:hover,
.btn-hero-order:focus {
  background-color: #404bbf;
}

/* ===== PREFERENCES STYLES ===== */
.preferences-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.preferences-item {
  max-width: calc((100% - 24px * 3) / 4);
}
.preferences-item .icon-tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.preferences-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.preferences-item-text {
  font-size: 16px;
  line-height: 1.5;
}

/* ===== TEAM STYLES ===== */
.team-section {
  background: #f4f4fd;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-item {
  max-width: calc((100% - 24px * 3) / 4);
  text-align: center;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-card-thumb {
  height: 260px;
}
.team-card-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team-item-descr {
  padding: 32px 0;
}
.team-card-text {
  margin-bottom: 8px;
}
.team-item-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-item .link-icon-tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

/* hover/focus */
.team-item .link-icon-tumb {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item .link-icon-tumb:hover,
.team-item .link-icon-tumb:focus {
  background-color: #404bbf;
}

/* ===== PORTFOLIO STYLES ===== */
.portfolio-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  max-width: calc((100% - 24px * 2) / 3);
  cursor: pointer;
}
.portfolio-card-thumb {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.portfolio-card-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  background-color: #4d5ae5;
}
.portfolio-item-descr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* hover/focus */
.portfolio-card-overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-card-overlay {
  transform: translate(0);
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ===== FOOTER STYLES ===== */
.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.page-footer .container {
  display: flex;
  align-items: flex-start;
}
.footer-logo {
  margin-right: 120px;
}
.page-footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.page-footer .logo-part {
  color: #f4f4fd;
}
.footer-text {
  max-width: 264px; /* Need remove after all markup footer */
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}
.footer-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.footer-social {
  margin-right: 80px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item .link-icon-tumb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-input::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  border-radius: 4px;
  text-align: center;
}
.icon-btn-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}

/* hover/focus */
.footer-social-item .link-icon-tumb .btn-subscribe {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-item .link-icon-tumb:hover,
.footer-social-item .link-icon-tumb:focus {
  background-color: #31d0aa;
}
.footer-form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:focus-visible {
  outline: none;
  border-color: #31d0aa;
}
.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: #31d0aa;
}

/* ===== MODAL STYLES ===== */
.modal-overlay {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
}
.btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
}
.icon-btn-close {
  fill: #2e2f42;
}
.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #2e2f42;
}
.modal-input-box {
  margin-bottom: 8px;
}
.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-input-wrapper {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}
textarea.modal-form-input {
  padding: 8px 16px;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
}
textarea.modal-form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.modal-policy-wrapeer {
  margin-bottom: 24px;
}
.modal-privacy-custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: transparent;
  fill: transparent;
}
.modal-icon-check {
  fill: transparent;
}
.policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.btn-submit-modal-form {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
}

/* hover/focus */
.modal-overlay {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal-container {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal-overlay.is-open .modal-container {
  transform: translate(-50%, -50%) scale(1);
}
.btn-close {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
}
.icon-btn-close,
.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover .icon-btn-close,
.btn-close:focus .icon-btn-close {
  fill: #ffffff;
}
.modal-form-input {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:hover + .modal-input-icon,
.modal-form-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-icon-check {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-policy-checkbox:checked
  + .label-policy
  > .modal-privacy-custom-checkbox
  .modal-icon-check {
  fill: #f4f4fd;
}
.modal-privacy-custom-checkbox {
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-policy-checkbox:checked
  + .label-policy
  > .modal-privacy-custom-checkbox {
  background-color: #404bbf;
  border: none;
}
.btn-submit-modal-form {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit-modal-form:hover,
.btn-submit-modal-form:focus {
  background-color: #404bbf;
}
